body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #694d48;
    color: #333;
}
/* Navbar container */
.navbar {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #333;
color: white;
padding: 10px 20px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Navbar logo */
.navbar .logo {
font-size: 1.5em;
font-weight: bold;
}

/* Navbar links */
.navbar .nav-links {
list-style: none;
margin: 0;
padding: 0;
display: flex;
gap: 15px;
}

.navbar .nav-links li {
display: inline-block;
}

.navbar .nav-links a {
text-decoration: none;
color: white;
font-size: 1em;
transition: color 0.3s ease;
}

.navbar .nav-links a:hover {
color: #a27d76;
}

/* Dropdown */
.dropdown {
position: relative;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #333;
min-width: 160px;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
z-index: 1;

}

.dropdown-content a {
color: #333;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {
background-color: #f1f1f1;
color: white;
}

.dropdown:hover .dropdown-content {
display: block;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.section-intro {

    margin: 5px auto;
    background: #f1f3f4;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.section-intro h2 {
    text-align: center;
    margin: 0px auto;
    padding: 0px;
            }
.header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #333;
}
.header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
}
.header p {
    font-size: 1.2em;
    color: #777;
}
.section {
    margin: 20px 0;
}
.section h2 {
    font-size: 1.5em;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    color: #333;

}
.section p, .section ul {
    margin: 10px 0;
}
.experience, .education {
    margin-bottom: 20px;

}
.experience-item, .education-item {
    margin-bottom: 10px;
}
.experience-item h3, .education-item h3 {

    margin: 0;
    font-size: 1.2em;
}
.experience-item p, .education-item p {
    margin: 5px 0;
    color: #777;

}
.skills ul {
    list-style-type: none;
    padding: 0;
}
.skills li {
    background: #333;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
    margin: 5px 0;
}
.contact ul {
    list-style-type: none;
    padding: 0;
}
.contact li {
    margin: 5px 0;
}
/* Dropdown Button */
.dropbtn-skills {
   background-color: #a27d76;
   color: white;
   padding: 9px;
   font-size: 16px;
   border: none;
   cursor: pointer;
}

.dropdown-content-skills {
display: none;
position: absolute;
background-color: #333;
min-width: 160px;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
z-index: 1;

}

.dropdown-content-skills a {
color: #333;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content-skills a:hover {
background-color: #f1f1f1;
color: white;
}

.dropdown-skills:hover .dropdown-content {
display: block;
}
